.active {
  color: red;
}
.navbar {
  background-color: rgb(221, 238, 232);
  padding: 20px;
  border-radius: 20px;
}
a {
  margin: 20px;
  color: rgb(158, 68, 161);
}
a:hover {
  color: rgb(15, 97, 129);
}
@media screen and (max-width: 576px) {
  .link-nav {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .title-name {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
